h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $heading-font;
  color: var(--heading-color);
  font-weight: 700;
  margin: 0;
}
h1,
.h1 {
  font-size: 104px;
  letter-spacing: -1px;
  line-height: 1em;
  @include max(1400px) { 
    font-size: 70px;
  }
  @include max(767px) { 
    font-size: 48px;
  }
}
h2,
.h2 {
  font-size: 70px;
  line-height: 1.07em; /* 116.667% */
  letter-spacing: -0.7px;
  @include max(1199px) { 
    font-size: 48px;
  }
  @include max(767px) { 
    font-size: 36px;
    font-weight: 600;
    letter-spacing: -0.64px;
  }
}

h3,
.h3 {
  font-size: 30px;
  line-height: 1.4em;
  @include max(767px) {
    line-height: 1.2em;
  }

}
h4,
.h4 {
  font-size: 24px;
  line-height: 28px;
}
h5,
.h5 {
  font-size: 24px;
  line-height: 1.41;
  letter-spacing: -0.48px;
  @include max(767px) { 
    font-size: 20px;
    line-height: 30px; /* 150% */
    letter-spacing: -0.4px;
  }
}
h6,
.h6 {
  font-size: 20px;
}

p{
  font-size: 18px;
  margin-bottom: 30px;
  @include max(767px) {
    margin-bottom: 20px;
  }
  &:last-child{
    margin-bottom: 0;
  }
}

// @each $cheadingfont in $headingfontSize {
//   $i: index($headingfontSize, $cheadingfont);
//   h#{$i},
//   .text-h#{$i} {
//     font-size: $cheadingfont;
//     line-height: nth($headingLineheight, $i);
//   }
// }


@for $i from 10 through 40 {
  .f-size-#{$i} {
    font-size: $i * 1px !important;
  }
}

@for $i from 10 through 40 {
  .line-height-#{$i} {
    line-height: $i * 1px !important;
  }
}

.font-bold{
  font-weight: 700;
}
.font-black{
  font-weight: 800;
}
.font-medium{
  font-weight: 500;
}
.font-normal{
  font-weight: 400;
}
.font-semibold{
  font-weight: 600;
}


// @each $currentfont in $bodyfontvariation {
//   $i: index($bodyfontvariation, $currentfont);
//   .body-font-#{$i} {
//     font-size: $currentfont;
//     line-height: nth($lineheightvariation, $i);
//   }
// }

.gray-bg{
  background-color: var(--gray-bg);
}
.yellow-bg{
  background-color: var(--yellow-bg);
}