{% extends "layout/layout.html" %}
{% set page_title = "Portfolio Two Column" %}
 {% block content %}

{% include "../templates/layout/header-footer/header-one.html" %} 

<div class="aximo-breadcrumb">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
</div>
<!-- End breadcrumb -->

<div class="section aximo-project-page aximo-section-padding5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="aximo-project-thumb wow fadeInUpX" data-wow-delay="0.1s">
          <img src="assets/images/portfolio/p_1.png" alt="">
          <div class="aximo-project-wrap">
            <div class="aximo-project-data">
              <a href="single-portfolio.html">
                <h3>Product Design</h3>
              </a>
              <p>Developing the look and feel of physical products, aesthetics, and functionality.</p>
            </div>
            <a class="aximo-project-icon" href="single-portfolio.html">
              <svg width="34" height="28" viewBox="0 0 34 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.9795 2C19.9795 2 20.5 8 25.9795 11.2C28.4887 12.6653 31.9795 14 31.9795 14M31.9795 14H2M31.9795 14C31.9795 14 28.5339 15.415 25.9795 16.8C19.9795 20.0533 19.9795 26 19.9795 26" stroke="#FDFDE1" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="aximo-project-thumb wow fadeInUpX" data-wow-delay="0.2s">
          <img src="assets/images/portfolio/p_2.png" alt="">
          <div class="aximo-project-wrap">
            <div class="aximo-project-data">
              <a href="single-portfolio.html">
                <h3>Logo and Branding</h3>
              </a>
              <p>Creating or refreshing a company's logo and developing a cohesive visual identity.</p>
            </div>
            <a class="aximo-project-icon" href="single-portfolio.html">
              <svg width="34" height="28" viewBox="0 0 34 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.9795 2C19.9795 2 20.5 8 25.9795 11.2C28.4887 12.6653 31.9795 14 31.9795 14M31.9795 14H2M31.9795 14C31.9795 14 28.5339 15.415 25.9795 16.8C19.9795 20.0533 19.9795 26 19.9795 26" stroke="#FDFDE1" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="aximo-project-thumb wow fadeInUpX" data-wow-delay="0.3s">
          <img src="assets/images/portfolio/p_3.png" alt="">
          <div class="aximo-project-wrap">
            <div class="aximo-project-data">
              <a href="single-portfolio.html">
                <h3>App UI/UX Design</h3>
              </a>
              <p>Designing the UI/UXe for mobile apps and web applications to ensure usability & engagement.</p>
            </div>
            <a class="aximo-project-icon" href="single-portfolio.html">
              <svg width="34" height="28" viewBox="0 0 34 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.9795 2C19.9795 2 20.5 8 25.9795 11.2C28.4887 12.6653 31.9795 14 31.9795 14M31.9795 14H2M31.9795 14C31.9795 14 28.5339 15.415 25.9795 16.8C19.9795 20.0533 19.9795 26 19.9795 26" stroke="#FDFDE1" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="aximo-project-thumb wow fadeInUpX" data-wow-delay="0.4s">
          <img src="assets/images/portfolio/p_4.png" alt="">
          <div class="aximo-project-wrap">
            <div class="aximo-project-data">
              <a href="single-portfolio.html">
                <h3>Packaging Design</h3>
              </a>
              <p>Creating packaging solutions for products that not only protect attract customers on store.</p>
            </div>
            <a class="aximo-project-icon" href="single-portfolio.html">
              <svg width="34" height="28" viewBox="0 0 34 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.9795 2C19.9795 2 20.5 8 25.9795 11.2C28.4887 12.6653 31.9795 14 31.9795 14M31.9795 14H2M31.9795 14C31.9795 14 28.5339 15.415 25.9795 16.8C19.9795 20.0533 19.9795 26 19.9795 26" stroke="#FDFDE1" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="aximo-project-thumb wow fadeInUpX" data-wow-delay="0.5s">
          <img src="assets/images/portfolio/p_5.png" alt="">
          <div class="aximo-project-wrap">
            <div class="aximo-project-data">
              <a href="single-portfolio.html">
                <h3>Environmental Design</h3>
              </a>
              <p>Designing trade show booths, exhibition spaces, and immersive installations for events and conferences.</p>
            </div>
            <a class="aximo-project-icon" href="single-portfolio.html">
              <svg width="34" height="28" viewBox="0 0 34 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.9795 2C19.9795 2 20.5 8 25.9795 11.2C28.4887 12.6653 31.9795 14 31.9795 14M31.9795 14H2M31.9795 14C31.9795 14 28.5339 15.415 25.9795 16.8C19.9795 20.0533 19.9795 26 19.9795 26" stroke="#FDFDE1" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="aximo-project-thumb wow fadeInUpX" data-wow-delay="0.6s">
          <img src="assets/images/portfolio/p_6.png" alt="">
          <div class="aximo-project-wrap">
            <div class="aximo-project-data">
              <a href="single-portfolio.html">
                <h3>Environmental Design</h3>
              </a>
              <p>Designing trade show booths, exhibition spaces, and immersive installations for events and conferences.</p>
            </div>
            <a class="aximo-project-icon" href="single-portfolio.html">
              <svg width="34" height="28" viewBox="0 0 34 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.9795 2C19.9795 2 20.5 8 25.9795 11.2C28.4887 12.6653 31.9795 14 31.9795 14M31.9795 14H2M31.9795 14C31.9795 14 28.5339 15.415 25.9795 16.8C19.9795 20.0533 19.9795 26 19.9795 26" stroke="#FDFDE1" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="aximo-project-thumb wow fadeInUpX" data-wow-delay="0.7s">
          <img src="assets/images/portfolio/p_7.png" alt="">
          <div class="aximo-project-wrap">
            <div class="aximo-project-data">
              <a href="single-portfolio.html">
                <h3>Advertising Campaigns</h3>
              </a>
              <p>Developing creative concepts for print, digital, and video advertising campaigns, including ad design and copywriting.</p>
            </div>
            <a class="aximo-project-icon" href="single-portfolio.html">
              <svg width="34" height="28" viewBox="0 0 34 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.9795 2C19.9795 2 20.5 8 25.9795 11.2C28.4887 12.6653 31.9795 14 31.9795 14M31.9795 14H2M31.9795 14C31.9795 14 28.5339 15.415 25.9795 16.8C19.9795 20.0533 19.9795 26 19.9795 26" stroke="#FDFDE1" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="aximo-project-thumb wow fadeInUpX" data-wow-delay="0.8s">
          <img src="assets/images/portfolio/p_8.png" alt="">
          <div class="aximo-project-wrap">
            <div class="aximo-project-data">
              <a href="single-portfolio.html">
                <h3>Website Development</h3>
              </a>
              <p>Designing and building user-friendly websites that are visually appealing and responsive to different devices.</p>
            </div>
            <a class="aximo-project-icon" href="single-portfolio.html">
              <svg width="34" height="28" viewBox="0 0 34 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19.9795 2C19.9795 2 20.5 8 25.9795 11.2C28.4887 12.6653 31.9795 14 31.9795 14M31.9795 14H2M31.9795 14C31.9795 14 28.5339 15.415 25.9795 16.8C19.9795 20.0533 19.9795 26 19.9795 26" stroke="#FDFDE1" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End -->


{% include "../templates/layout/header-footer/footer-one.html" %} 
  
{% endblock %}
