<!-- Footer  -->

<footer class="aximo-footer-section4">
  <div class="aximo-subscription-wrap extra-side-margin">
    <div class="container">
      <div class="aximo-subscription2">
        <form action="#">
        <input type="email" placeholder="Email Address">
        <button id="aximo-subscription-btn2" type="submit">Subscribe now</button>
        </form>
      </div>
    </div>
  </div>
    
  <div class="container">
    <div class="aximo-footer-top4">
      <div class="row">
        <div class="col-xl-4 col-lg-12">
          <div class="aximo-footer-textarea light-one">
            <a href="">
              <img src="assets/images/logo/logo-white.svg" alt="">
            </a>
            <p>We are a branding agency that digitally works to help companies grow. We have a successful track record of working with various organizations.</p>
            <div class="aximo-social-icon aximo-social-icon3">
              <ul>
                <li>
                  <a href="https://twitter.com/" target="_blank">
                    <i class="icon-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="https://facebook.com/" target="_blank">
                    <i class="icon-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/" target="_blank">
                    <i class="icon-instagram"></i>                     
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/" target="_blank">
                    <i class="icon-linkedin"></i>                     
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-4">
          <div class="aximo-footer-menu extar-margin light-one">
            <div class="aximo-footer-title light-one">
              <p>Special Links</p>
            </div>
            <ul>
              <li><a href="">About us</a></li>
              <li><a href="">Our services</a></li>
              <li><a href="">Portfolio</a></li>
              <li><a href="">Blogs</a></li>
              <li><a href="">Premium member</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="aximo-footer-menu light-one">
            <div class="aximo-footer-title light-one">
              <p>Utility pages</p>
            </div>
            <ul>
              <li><a href="">About us</a></li>
              <li><a href="">Our services</a></li>
              <li><a href="">Portfolio</a></li>
              <li><a href="">Blogs</a></li>
              <li><a href="">Premium member</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-md-4">
          <div class="aximo-footer-menu light-one m-0">
            <div class="aximo-footer-title light-one">
              <p>Contact us</p>
            </div>
            <div class="aximo-contact-info">
              <ul>
                <li>
                  <a href="">
                      <i class="icon-phone"></i>
                     +088-234-6849
                  </a>
                </li>
                <li>
                  <a href="">
                      <i class="icon-message"></i>
                      example@gmail.com
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="icon-map"></i>
                    Haward Street,10203 USA
                  </a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="aximo-footer-bottom four">
        <div class="aximo-copywright four text-center">
          <p> &copy; Copyright 2024, All Rights Reserved by Mthemeus</p>
        </div>
    </div>
      
  </div>
</footer>