<!-- Footer  -->

<footer class="aximo-footer-section7 bg-light8 aximo-section-padding4">
  <div class="container">
    <div class="aximo-section-title bricolage-font p-0">
      <div class="row">
        <div class="col-lg-7">
          <h2>
            Let your brand rise to new heights
            <span class="aximo-title-shape">
              <img src="assets/images/v7/title-shape.png" alt="">
            </span>
          </h2>
        </div>
        <div class="col-lg-5 d-flex align-items-center">
          <div class="aximo-title-btn">
            <a class="aximo-default-btn blue-btn2" href="contact-us.html">
              <span class="aximo-label-up">Explore Our Plans</span>
              <span class="aximo-label-up">Explore Our Plans</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    
  
    <div class="aximo-footer-top7">
      <div class="aximo-footer-info-column">
        <div class="aximo-footer-info-item">
          <a href="">
            <img src="assets/images/logo/logo-dark.svg" alt="">
          </a>
        </div>
        <div class="aximo-footer-info-item">
          <h5>Our address:</h5>
          <p>4517 Washington Ave.<br> Manchester, Kentucky 39495</p>
        </div>
        <div class="aximo-footer-info-item">
          <h5>Give us a call:</h5>
          <a href="">(123) 456-7890</a>
          <a href="">(088) 123-4567</a>
        </div>
        <div class="aximo-footer-info-item">
          <h5>Send us an email:</h5>
          <a href="">info@mthemeus.com</a>
        </div>
      </div>
    </div>
    <div class="aximo-footer-bottom seven">
      <div class="row">
        <div class="col-lg-6 order-lg-2">
          <div class="aximo-social-icon6 right">
            <ul>
              <li>
                <a href="https://twitter.com/" target="_blank">
                  <i class="icon-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://facebook.com/" target="_blank">
                  <i class="icon-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/" target="_blank">
                  <i class="icon-instagram"></i>                     
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/" target="_blank">
                  <i class="icon-linkedin"></i>                     
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center">
          <div class="aximo-copywright seven">
            <p> &copy; Copyright 2024, All Rights Reserved by Mthemeus</p>
          </div>
        </div>
      </div>
  </div>
  </div>
</footer>