<!-- Footer  -->

<footer class="section dark-bg2 position-relative">
  <div class="container">
    <div class="aximo-footer-extra-top">
      <div class="aximo-section-title center playfair pb-0 light max-width-xl">
        <h2>Want to decorate your dream space with us?</h2>
      </div>
      <div class="aximo-footer-info-wrap">
        <a class="aximo-footer-info wow fadeInUpX" data-wow-delay="0.1s" href="">mthemeus@gmail.com</a>
        <a class="aximo-footer-info wow fadeInUpX" data-wow-delay="0.2s" href="">+088-234-684900</a>
        <a class="aximo-footer-info wow fadeInUpX" data-wow-delay="0.3s" href="">Haward Street,10203 USA</a>
      </div>
    </div>
    <div class="aximo-footer-top6">
      <div class="row">
        <div class="col-xl-4 col-lg-12">
          <div class="aximo-footer-textarea light-two">
            <a href="">
              <img src="assets/images/logo/logo-white.svg" alt="">
            </a>
            <p>We are a branding agency that digitally works to help companies grow. We have a successful track record of working with various organizations.</p>
            <div class="aximo-copywright">
              <p> &copy; Copyright 2024, All Rights Reserved by Mthemeus</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-4">
          <div class="aximo-footer-menu extar-margin light-two">
            <div class="aximo-footer-title light-two">
              <p>Special Links</p>
            </div>
            <ul>
              <li><a href="">About us</a></li>
              <li><a href="">Our services</a></li>
              <li><a href="">Portfolio</a></li>
              <li><a href="">Blogs</a></li>
              <li><a href="">Premium member</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-md-4">
          <div class="aximo-footer-menu light-two">
            <div class="aximo-footer-title light-two">
              <p>Utility pages</p>
            </div>
            <ul>
              <li><a href="">About us</a></li>
              <li><a href="">Our services</a></li>
              <li><a href="">Portfolio</a></li>
              <li><a href="">Blogs</a></li>
              <li><a href="">Premium member</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="aximo-footer-title light-two">
            <p>Socials Links</p>
            <div class="aximo-social-icon5">
              <ul>
                <li>
                  <a href="">
                      <i class="icon-facebook"></i>
                      Facebook 
                  </a>
                </li>
                <li>
                  <a href="">
                      <i class="icon-twitter"></i>
                      Twitter
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="icon-instagram"></i>
                    Instagram
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="icon-linkedin"></i>
                    Linkedin
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

      
  </div>
  <div class="aximo-footer-shapev6">
    <img src="assets/images/v6/shapes.png" alt="">
  </div>
</footer>