<!-- Footer  -->

<footer class="aximo-footer-section bg-blue2">
  <div class="container">
    <div class="aximo-footer-top aximo-section-padding">
      <div class="row">
        <div class="col-lg-7">
          <div class="aximo-default-content light outfit-font">
            <h2>
              Do you have a project in mind?
            </h2>
            <p>Join us in shaping a more connected, innovative future through technology. We're partners in your digital journey.</p>
            <div class="aximo-contact-info info3">
              <ul>
                <li>
                  <a href="">
                      <i class="icon-phone"></i>
                     +088-234-6849
                  </a>
                </li>
                <li>
                  <a href="">
                      <i class="icon-message"></i>
                      example@gmail.com
                  </a>
                </li>
                <li>
                  <a href="">
                    <i class="icon-map"></i>
                    Haward Street,10203 USA
                  </a>
                  </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="aximo-form-wrap3">
            <h4>Send us a message</h4>
            <form action="#">
              <div class="aximo-form-field3">
                <input type="text" placeholder="Your name">
              </div>
              <div class="aximo-form-field3">
                <input type="email" placeholder="Your email address">
              </div>
              <div class="aximo-form-field3">
                <input type="phone" placeholder="+088-234-6849">
              </div>
              <div class="aximo-form-field3">
                <textarea name="textarea" placeholder="Write your message here..."></textarea>
              </div>
              <button id="aximo-submit-btn3" type="submit">
                <div class="aximo-label-up">Send message </div>
                <div class="aximo-label-up">Send message </div>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="aximo-footer-bottom eight">
        <div class="row">
          <div class="col-lg-6">
            <div class="aximo-footer-logo">
              <a href="">
                <img src="assets/images/logo/logo-white.svg" alt="">
              </a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="aximo-copywright eight">
              <p> &copy; Copyright 2024, All Rights Reserved by Mthemeus</p>
            </div>
          </div>
        </div>
      
    </div>
      
  </div>
</footer>